dialog:not([open]) { 
    height: 0% !important; 
    opacity: 0;
    overflow: hidden;
}
dialog[open] {
    height: 210% !important;
    opacity: 1;
    overflow: hidden;
}
#do-list-options {
    position: absolute;
    appearance: none;
    border: 1px rgba(128, 128, 128, 0.35) solid;
    top: 125%;
    width: 700%;
    left: -600%;
    z-index: 11;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
}
.options-btn {
    padding: 5px 10px;
    border: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.options-btn-img {
    width: 20px;
    height: 20px;
}
.options-btn-txt {
    font-size: 1.1rem;
}
.options-btn:hover {
    background-color: rgba(128, 128, 128, 0.25);
    transition: background-color 300ms; 
}
#do-list-options-container {
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}
#do-list-options-btn {
    appearance: none;
    border: none;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 7.5px 6px;
    cursor: pointer;
}
#do-list-options-btn:hover {
    background-color: var(--background-color-hover);
    transition: background-color 300ms;
}
#do-list-options-img {
    width: 20px;
    height: 20px;
}
@media only screen and (min-width:600px) and (max-width: 961px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .nav-bar {
        width: 20vw;
        margin-top: 10vh;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    #do-list-options-img {
        width: 25px;
        height: 25px;
    }
}
@media only screen and (min-width:961px) and (max-width: 1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    #do-list-options {
        width: 700%;
        left: -600%;
        border-radius: 5px;
        border: 1.5px rgba(128, 128, 128, 0.45) solid;
    }
    dialog[open] {
        height: 180% !important;
        opacity: 1;
        overflow: hidden;
    }
    #do-list-options-img {
        width: 30px;
        height: 30px;
    }
    .options-btn-txt {
        font-size: 1.3rem;
    }
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    #do-list-options-btn-img {
        width: 26px;
        height: 26px;
    }
}