.nav-bar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0 25px;
    margin-right: 2vw;
    margin-top: 7.5vh;
    width: 12.5vw;
}
.nav-btn {
    border: none;
    font-size: 1rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    background-color: white;
    padding: 5px 10px;
    transition: background-color 300ms;
}
.nav-btn:hover {
    background-color: var(--background-color-hover);
    transition: background-color 300ms;
    border-radius: 6px;
}
.nav-icon {
    width: 1.8rem;
    height: 1.8rem;
}
#filters-labels-container {
    position: relative;
    width: 100%;
}
#filters-labels-btn {
    width: 100%;
}
.dropdown-indicator-img {
    width: 1.8rem;
    height: 1.8rem;
    margin-left: auto;
}
#filters-labels-dialog {
    position: absolute;
    top: 110%;
    width: 100%;
    appearance: none;
    border: none;
    padding: 15px 0 0 0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: height 500ms;
}
#filters-labels-dialog:not([open]) {
    height: 0% !important;
    opacity: 0;
    overflow: hidden;
    transition: height 500ms;
}
#filters-labels-dialog[open] {
    height: 100%;
    transition: height 500ms;
}
#filters-labels-dialog button {
    appearance: none;
    border: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 85%;
    background-color: transparent;
    border-radius: 6px;
    padding: 5px 10px;
}
#filters-labels-dialog button:hover {
    background-color: rgba(128, 128, 128, 0.25);
    transition: background-color 400ms;
}
#filters-labels-dialog .btn-icon {
    width: 1.8rem;
    height: 1.8rem;
}
#filters-labels-dialog .btn-text {
    text-align: left;
}
@media only screen and (max-width:600px)  { 
    #sidebar-menu-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.5vw;
        border-radius: 100px;
        padding: 10px 10px;
    }
    .nav-bar {
        display: none;
        overflow: hidden;
    }
}
@media only screen and (min-width:600px) and (max-width: 961px) { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
    .nav-bar {
        width: 20vw;
        margin-top: 10vh;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-bar p {
        font-size: 1.3rem;
    }
}
@media only screen and (min-width:961px) and (max-width: 1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
    .nav-bar {
        width: 20vw;
        margin-top: 10vh;
        margin-left: 10px;
        padding-left: 0;
        padding-right: 0;
    }
    .nav-bar p {
        font-size: 1.7rem;
    }
}
@media (min-width:1281px) {
     /* hi-res laptops and desktops */
    .nav-bar {
        margin-top: 12.5vh;
    }
    .nav-btn {
        font-size: 1.4rem;
    }
    #filters-labels-dialog button {
        appearance: none;
        border: 0;
        cursor: pointer;
        font-size: 1.4rem;
    }
}
