@font-face {
    font-family: 'Poppins Light';
    src: url('../components/fonts/Poppins-Light.woff2') format('woff2'),
    url('../components/fonts/Poppins-Light.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Poppins Medium';
    src: url('../components/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../components/fonts/Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
