#mobile-nav-bar {
    display: none;
}
#sidebar-menu-btn {
    display: none;
}
@media only screen and (max-width: 600px) {
    .mobile-nav-container {
        display: fixed;
        position: absolute;
        margin: 0;
        height: 100%;
        padding: 0;
        width: 0%;
        top: 0;
        left: 0;
        overflow: hidden;
        background-color: rgba(128, 128, 128, 0.4);
        z-index: 10;
        transition: width 500ms;
    }
    #mobile-nav-bar {
        display: flex;
        margin: 0;
        padding-top: 10%;
        height: 100%;
        width: 60%;
        overflow-x: hidden;
        background-color: rgba(128, 128, 128, 1);
    }
    .nav-bar {
        display: none;
    }
    .mobile-nav-btn {
        width: 100%;
        border-radius: 6px;
    }
}